/** Importer la police Umberto **/
@font-face {
	font-family: umberto;
    src: url('../fonts/umberto.ttf');
}

/** Style appliqué sur la div contenant le canvas **/
#divCanvas {
	border: solid 1px black;
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: #61B4CF; /* Un magnifique ciel bleu */
}

/** Footer **/
#divFooter {
	width: 800px;
	margin:auto;
}

/** Les instructions **/
#instructions {
	float: left;
}

/** Les crédits **/
#credits {
	float: right;
}